@model swapiCache.Models.People

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>People</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hair_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hair_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.skin_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.skin_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eye_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eye_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birth_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birth_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.homeworld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.homeworld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
    </dl>
</div>
<div>
    
    
</div>
